<h1>New Post</h1>
<%= form_with model: newpost, url: user_posts_path, method: :post, local: true, scope: :post do |form| %>
  <%= form.label :Title %><br>
  <%= form.text_field :title %> 

  <%= form.label :Text %><br>
  <%= form.text_field :text %>

  <%= form.submit "Submit Post" %>
<% end %>