<section>
  <div class='list-posts'>
    <h3><%= @post.title %> by <%= @post.users.name %> </h3>
    <p><%= @post.text %></p>
    <span class='like-comment'>
      Comments: <%= @post.comments_counter || 0 %>, 
      Likes: <%= @post.likes_counter || 0 %> 
    </span>
  </div>
  <ul class='post-comment'>      
    <% if @post.comments.length == 0 %>
      <p>No comments added!</p>
    <% else %>
      <% @post.comments.each do |comment| %>
          <li>
          <%= comment.users.name %>: <%= comment.text %> 
          <% if can? :destroy, comment %>
            <%= link_to "delete", comment_path(comment), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
          <% end %>
          </li>
      <% end %>
    <% end %>
  </ul>
  <ul>
      <li>
       <% if can? :update, @post %>
         <%= link_to "Edit post", edit_post_path(@post) %>
       <% end %>
     </li>
     <li>
       <% if can? :destroy, @post %>
         <%= link_to "Delete post", post_path(@post), data: {
                         turbo_method: :delete,
                         turbo_confirm: "Are you sure you want to delete this post?"
                      } %>
       <% end %>
     </li>
  </ul>
</section>
