<section>
  <div class='list-posts'>
    <h3><%= @post.title %> by <%= @post.users.name %> </h3>
    <p><%= @post.text %></p>
    <div class='like-comment'>
      <li>Comments: <%= @post.comments_counter %>, </li>
      <li>Likes: <%= @post.likes_counter %></li>
    </div>
  </div>
  <ul class='post-comment'>
    <% @post.comments.each do |comment| %>
      <li><%= comment.users.name %>: <%= comment.text %></li>
    <% end %>
  </ul>
</section>
